.updatefacture-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 25px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 500px;
   background-color: #c7cbd272;
   
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, select, button{
    margin-bottom: 15px;
    margin-left: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }


  select{
    padding:7px;
    background-color: #ffffff58;
    border-radius: 5px;
  }

  label{
    margin-left: 20px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  